*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.contianer {
    width: 600px;
}
#canvas {
    background-image: url(montain.jpg);
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}