* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lingkaran {
  width: 150px;
  height: 150px;
  border: 20px solid crimson;
  border-top: 20px solid #fff;
  border-radius: 50%;
  animation: par 2s infinite;
}

@keyframes par {
  0% {              
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
